.paw-lives {
  position: relative;
  width: 60px; 
  height: 60px;
  opacity: 1;
}

.pad-lives.large-lives {
   width: 40px;
  height: 45px;
  background-color: #794441;
  position: absolute;
  box-shadow: 0 8px #664242;
  top: 1px;
  left: 6px;
clip-path: path('M5.7,37 Q22.8,0 40,37 Q38.8,42 22.8,45 Q7.4,42 5.7,37 Z');
}

.pad-lives.small-lives {
  width: 12px;
  height: 12px;
   background-color: #794441;
  border-radius: 50%;
  position: absolute;
  box-shadow: 1px 2px #664242;
}

.one-lives {
  top: 2px;
  left: 12px;
}

.two-lives {
  top: 2px;
  right: 20px;
}

.three-lives {
  top: 14px;
  left: 0;
}

.four-lives {
  top: 14px;
  left: 43px;
}
